<footer class="footer-dark w-100 sticky">
            <div class="container w-100">
                <div class="d-flex flex-row align-items-center mt-5 mb-0">
                    <!-- Start: About -->
                    <div class="col-sm-6 col-md-3 item ml-2">
                        <h3>About</h3>
                        <ul class="list-inline ml-0"> <!--ADD LINKS TO COMPANY/TEAM VIEWS. FAZER PAGS FAKES ESTATICAS!!!!!!!!!!!!!!!!!!!!!-->
                            <li><%= link_to "Company", about_path %></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div><!-- End: About -->
                    <!-- Start: Footer Text -->
                    <div class="col-md-6 item text d-flex flex-column">
                        <h3>RoboInvest</h3>
                        <p>Our goal is to provide quality content to help people make better financial decisions. This is what guides the production of reports and analyses.</p>
                    </div><!-- End: Footer Text -->
                    <!-- Start: Social Icons -->
                    <div class="col item social d-flex flex-column justify-content-evenly ml-5 pr-0"><a href="#"><i class="icon ion-social-facebook mb-5"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div><!-- End: Social Icons -->
                </div><!-- Start: Copyright -->
                <p class="copyright">RoboInvest © 2021</p><!-- End: Copyright -->
            </div>
        </footer><!-- End: Footer Dark -->
