<div class="sidebar-container">
  <div class="whole-sidebar shadow col-sm">
    <nav  id="sidebar" class="sidebar-options">
        <div class="sidebar-header">
            <h3><i class="fas fa-dice-d20 fa-3x logo-dice mt-5"></i>RoboInvest</h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active mb-4">
              <a href="/users/sign_in"><i class="fas fa-user-circle mr-2"></i>Login</a></li>
            <li class="my-1">
                <a href="/">Home</a>
            </li>
            <li class="my-1">
                <a href="#">News</a>
            </li>
            <li class="my-1">
                <a href="#">Quote</a>
            </li>
            <li class="my-1">
                <a href="/stocks">Stocks</a>
            </li>
            <li class="my-1">
                <a href="/wallets"> Wallet</a>
            </li>
            <li class="my-1">
                <%= link_to "Back", :back%>
            </li>

        </ul>
    </nav>
  </div>
</div>
