<nav id="sidebar">
    <div class="sidebar-header">
        <h3>RoboInvest (ADD LOGO)</h3>
    </div>
    <ul class="list-unstyled components">
        <li class="active mb-4">
          <a href="/users/sign_in"><i class="fas fa-user-circle mr-2"></i>Login</a></li>
        <li class="my-1">
            <a href="/">Home</a>
        </li>
        <li class="my-1">
            <a href="#">News</a>
        </li>
        <li class="my-1">
            <a href="#">Quote</a>
        </li>
        <li class="my-1">
            <a href="/stocks">Stocks</a>
        </li>
        <li class="my-1">
            <a href="/wallets"> Wallet</a>
        </li>
        <li class="my-1">
            <a href="/about">About us</a>
        </li>
        <li class="my-1">
            <%= link_to "Back", :back%>
        </li>
    </ul>
</nav>
