<body style="background:linear-gradient(135deg, #1C1427, #7ECA9C);">

  <div class="site-heading all-content d-flex flex-column">
      <h1>
        <span class="text-primary site-heading-upper text-center mb-3">An easy way to start investing your money</span>
        <span class="site-heading-lower text-center text-white">roboinvest</span>
      </h1>
      <img class="rounded about-heading-img" src="https://cdn4.iconfinder.com/data/icons/qigong-qi-energy-power-chakra/316/qi-gong-power-003-512.png">
      <div class="card-about-company rounded p-5">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower text-primary">&nbsp;About Our company</span>
          </h2>
          <p>RoboInvest is a website specialized in markets, investments and business in Brazil.&nbsp;Our goal is to provide quality content to help people make better financial decisions.&nbsp;This is what guides the production of reports and analyses.</p>
          <p>We guarantee that after venturing to our site, you will break paradigms that investing is only for intellectuals and rich people.</p>
          <p>Sign up and discover our platform !!</p>
      </div>
      <div class="card-about-team rounded p-5">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower text-primary">&nbsp;About Our team</span>
          </h2>
          <p> Students at Le Wagon from Batch#766. We are from different regions of Brazil, but with a common interest: </p>
          <p>simplifying the concept of investing, making it accessible and easy to compress for everyone, regardless of their area of ​​expertise. </p>
          <div class="people d-flex justify-content-between">
              <div class="perfil-junto mt-5">
                <div class=" item-people">
                  <div class="person-pic">
                    <%= image_tag("rodrigovaz.jpg", height: '100', width: '100', class: "img-about-page shadow my-4")%>
                  </div>
                    <div>
                      <h3 class="name-about-page">Rodrigo Vaz</h3>
                      <p class="title-about-page">Electric Engineer</p>
                      <p class="description-about-page">I co-founded a company that specializes in proving services(workforce) and software solutions for commissioning at mining, oil & gas, fertilizers...currently managing the development of our software, I joined Le Wagon to understand more in-depth the intricacies of programming, besides engineering!</p>
                    </div>
                    <div class="social text-center mb-2">
                      <a href="https://github.com/ShriekingNinja"><i class="fab fa-github social-team fa-2x"></i></a>
                    </div>
                </div>
                <div class=" item-people">
                  <div class="person-pic">
                    <%= image_tag("alyssa.jpg", height: '100', width: '100', class: "img-about-page shadow my-4")%>
                  </div>
                  <div class="person-pic">
                    <div>
                      <h3 class="name-about-page">Alyssa Giacomini</h3>
                      <p class="title-about-page">Mechanical Engineer</p>
                      <p class="description-about-page">Recently graduated in Mechanical Engineering, I am looking for an immersion in programming through Le Wagon, to work as a developer in the near future. </p>
                    </div>
                    <div class="social text-center mb-2">
                      <a href="https://www.linkedin.com/in/alyssa-coelho-68517014a/"><i class="fab fa-linkedin social-team fa-2x"></i></a>
                      <a href="https://github.com/alyssagc"><i class="fab fa-github social-team fa-2x"></i></a>
                      <a href="https://www.instagram.com/alyssagc/"><i class="fab fa-instagram social-team fa-2x"></i></a>
                    </div>
                  </div>
                </div>
                <div class=" item-people">
                  <div class="person-pic">
                    <%= image_tag("rodrigosousa.jpg", height: '100', width: '100', class: "img-about-page shadow my-4")%>
                  </div>
                    <div>
                      <h3 class="name-about-page">Rodrigo Sousa</h3>
                      <p class="title-about-page">Lawyer</p>
                      <p class="description-about-page">a lawyer specialized in Digital Law, is looking for a greater knowledge of technology at Le Wagon in addition to the theory of legal books. </p>
                    </div>
                    <div class="social text-center mb-2">
                      <a href="https://github.com/Rodventu25"><i class="fab fa-github social-team fa-2x"></i></a>
                    </div>
                </div>
                <div class=" item-people">
                  <div class="person-pic">
                  <%= image_tag("carol.jpg", height: '100', width: '100', class: "img-about-page shadow my-4")%>
                  </div>
                  <div>
                    <h3 class="name-about-page">Caroline Rezende</h3>
                    <p class="title-about-page">Industrial Chemistry</p>
                    <p class="description-about-page">After working abroad for a while, I decided to change careers at Le Wagon.
I believe I will absorb a lot of knowledge, already knowing how the dynamics of the labor market works. Plus, I'm sure I'll make connections that could last a lifetime. </p>
                  </div>
                  <div class="social text-center mb-2">
                    <a href="https://www.linkedin.com/in/caroline-rezende-75212b86/"><i class="fab fa-linkedin social-team fa-2x"></i></a>
                    <a href="https://github.com/carrrrots"><i class="fab fa-github social-team fa-2x"></i></a>
                    <a href="https://www.instagram.com/carrrrots/?hl=pt"><i class="fab fa-instagram social-team fa-2x"></i></a>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</body>
