<header class="header-blue">
    <div class="container hero">
        <div class="row">
            <!-- Start: Text -->
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Rule your money.</h1>
                <p>Quit outsourcing your investments and learn to maximize and manage your incomes.</p>
                <button class="btn btn-light btn-lg action-button" type="button"><a href="/about">More About Us</a></button>

            </div><!-- End: Text -->
            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <!-- Start: iPhone -->
                <div class="phone-mockup"><img class="device image" src="https://cdn-icons-png.flaticon.com/512/2493/2493607.png">
                </div><!-- End: iPhone -->
            </div>
        </div>
    </div>
</header><!-- End: Header Blue -->
