#content {
  justify-content: center;
  width: 85%;
}


//first row (4 cards)
.dashboard-title {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 45px;
}

.earnings-row {
  background-color: rgba(255, 255, 255, 0.795);
}

.card-name {
  font-family: Roboto, sans-serif;
  color: rgba(207, 130, 13, 0.945);
}

//second row (2 cards)
.reminders-list {
  margin-left: 170px;
  margin-bottom: 70px;
}
