
.login-container {
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.541);
}

.form-container {
  background: linear-gradient(#282d32, #282d3263);
  opacity: 0.8;
  width: 20rem;
  height: 27rem;
  border-radius: 2px;
}

.login-heading {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.753);
  font-weight: bold;
}

.form-inputs {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.966);
}

input.btn {
  color: black;
  // font-weight: bold;
  font-family: 'poppins', sans-serif;
}

//NAVBAR HOME LOGIN E SIGN IN
.navbar {
  position: absolute;
  background: transparent;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
   .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

 .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

 .navbar .navbar-brand:hover {
  color: #f0f0f0;
}


@media (min-width:768px) {
   .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

 .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none;
}

 .navbar .navbar-collapse span .login:hover {
  color: #fff;
}

 .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

 .navbar .navbar-toggler:hover,
 .navbar-toggler:focus {
  background: none;
}

@media (min-width: 768px) {
   .navbar-nav .nav-link {
    padding-left: .7rem;
    padding-right: .7rem;
  }
}

@media (min-width: 992px) {
   .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

 .navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px;
}

 .navbar .dropdown-menu .dropdown-item:focus,
 .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

 .navbar .dropdown-menu .dropdown-item:focus,
 .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}
