a,
a:hover,
a:focus {
    color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    // background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
h3 {
  font-family: Nunito, sans-serif;
}

.sidebar-place {
  display: flex;
  min-height: 100vh;
}

.sidebar-container{
  height: 100%;
    min-width: 300px;
    width:300px;
    color: #fff;
    position: fixed;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7eca7e;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7eca7e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7eca7e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7eca7e;
}

a.article,
  a.article:hover {
    background: #7eca7e !important;
    color: #fff !important;
}

.logout {
  border-style: hidden;
  background-color: transparent;
  align-items: center;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.whole-sidebar {
  background-color: #282d32;
  justify-content: stretch;
  height: 100%;
}

.sidebar-header {
  text-align: center;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  color: rgba(255, 255, 255, 0.925);

}
