.signup-container {
  background: linear-gradient(135deg, #1C1427, #7ECA9C);
  background-color: #184e8e;
  padding-bottom: 80px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.heading-container {
  width: 25rem;
  height: 32rem;
  border-radius: 8px;

}

.signup-heading {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
}
