.signup-container {
  background: linear-gradient(135deg, #1C1427, #7ECA9C);
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.719);
}

.heading-container {
  width: 25rem;
  height: 32rem;
  border-radius: 8px;
}

.signup-heading {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
}

//NAVBAR AT LOGIN
