.text-title-stock {
  text-shadow: 2px 2px 4px white;
}

#stock-button {
 color: #e6a756;
 background-color: black;

}
#stock-button:hover {
    color: #00000083;
    background-color: #e6a756;;
  }
.card-header-stock {
  background-color: #282d32;
  border: 0px;
}

.card-body-stock {
  color: white;
  background-color: #282d32;
  border-color: transparent;
}
