$font-mont: 'Montserrat', sans-serif;

$font-pop: 'Poppins', sans-serif;

$font-rob: 'Roboto', sans-serif;

hr {
  margin: 0;
}

.text-title-stock {
  color: #dce0ee !important;
  font-family: $font-rob !important;
  font-weight: 400 !important;

}

.text-stock {
  color: #c0cbd6 !important;
  font-family: $font-pop !important;
  font-weight: 500 !important;
  font-size: 0.85rem !important;
}

.text-stock-content {
 color: #b8bec5 !important;
 font-family: $font-mont !important;
 font-weight: 500 !important;
 font-size: 0.85rem !important;
}

#stock-button {
 color: #7ECA9C;
 background-color: black;

}
#stock-button:hover {
    color: #00000083;
    background-color: #7ECA9C;;
  }
.card-header-stock {
  background-color: #1C1427;
  border: 0px;
  padding-right: 14rem;
}

.card-body-stock {
  color: rgb(231, 231, 231);
  background-color: #1C1427;
  border-color: transparent;

}

.img-news {
    float: left;
    margin-left: 1rem;
    width:  7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1.5rem;
}

#stock-title {

  color: rgb(231, 231, 231);

}
.main-card-stock{
  width: 38.795vw;
}
