body {
  background: linear-gradient(135deg, #1C1427, #7eca9c);
}

.wallet-container {
  border-radius: 2px;
  width: 400px;
  position: relative;
}

.wallet-card {
  background-color: #282d32;
  border-color: transparent;
  width: 70vw;
}

.wallet-title {
  color: white;
  background-color: #282d32af;
  border-radius: 3px;
  width: 100%;
  position:absolute;
}

.text-muted {
  font-weight: bold;
  color: black;
}

.graph-card {
  background-color: rgba(255, 255, 255, 0.753);

}

.stocks-sample {
  width: 100%;
  justify-content: center;
}

.card-img {
  border-radius: 2px;
  box-shadow: 20px;
}

.welcome {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  color:white;
  font-weight: lighter;
}

#column-title {
  color:#e6a756;
  font-weight: lighter;
  border-color: transparent;
  font-size: 1rem;
}

thead {
  background-color: #282d3200;
  font-family: Roboto, sans-serif;
}

.text-left {
  background-color: #ffffffa9;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
#name-wallet {
  color: black;
}
#add-walcolor {
  color: #11864d;
}

.table-info {
  background-color: #ffffffa9;
  font-family: Roboto, sans-serif;
}

.search-row {
  align-items: center;
  justify-content: space-around;
}

#walletfilterselect {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
    width: 130px;
}

#walletfiltersearch {
   background-color: rgba(255, 255, 255, 0.753);
   border-radius: 10px;
   width: 130px;
}

.table-responsive {
  border-color: transparent;
}
.color-trash {
  color: rgba(255, 0, 0, 0.622);
}
