body {
  background: linear-gradient(135deg, #1C1427, #7eca9c);
}

.wallet-container {
  border-radius: 2px;
  width: 400px;
  position: relative;
}

.wallet-card {
  background-color: #130e1a;
  border-color: transparent;
}

.wallet-title {
  color: white;
  background-color: #1C1427;
  border-radius: 3px;
  width: 68.795vw;
  position:absolute;
}

.text-muted {
  font-weight: bold;
  color: black;
}

.graph-card {
  background-color: rgba(255, 255, 255, 0.753);

}

.stocks-sample {
  width: 100%;
  justify-content: center;
}

.card-img {
  border-radius: 2px;
  box-shadow: 20px;
}

.welcome {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  color:white;
  font-weight: lighter;
  margin-left: 30%;
}

#column-title {
  border-color: transparent;
}

thead {
  background-color: #282d3200;
  font-family: Roboto, sans-serif;
}

.text-left {
  background-color: #00000000 !important;
  font-family: Roboto, sans-serif;
  font-weight: bold;

}
#name-wallet {
  color: #dce0ee;
}
#add-walcolor {
  color: #17c45c;
}

.table-info {
  background-color: #00000000 !important;
  border-color: #3F4853;
}

.search-row {
  align-items: center;
  justify-content: space-around;
}

#walletfilterselect {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
    width: 130px;
}

#walletfiltersearch {
   background-color: rgba(255, 255, 255, 0.753);
   border-radius: 10px;
   width: 130px;
}

.table-responsive {
  border-color: transparent;
}
.color-trash {
  color: #e43529;
}
.table-body{
  border-top-style: hidden;
  border-color: #3F4853;
}
#wallet-table{
  border-top-style: hidden;
  background-color: #00000000 !important;
}
