.wallet-wrapper {
  margin-top: 8rem;
  padding-left: 5rem;

}

.stock-search {
  background-color: rgba(255, 255, 255, 0.884);
}

#find-btn {
  margin-top: 1px;
  color: rgba(255, 255, 255, 0.87);
}

#wallet-content {
  margin-top: 0px;
}


.wallet-heading {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 40px;
  margin-left: 15px;
}

th {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 12px;

}

.table-title {
  background-color: #282d32e7;
  height: 50px;
}

.balance-card {
  background-color: transparent;
  border-style: none;
}

.balance-body {
  background-color: rgba(255, 255, 255, 0.753);
}

.destroy-btn {
  border-radius: 50%;
  height: 25px;
  width: 24px;
  padding: 1px;
  background: rgb(212, 12, 12);
}

.stock-infos {
  align-items: center;
  height: 50px;
  align-items: center;

}

.stock-table-header-main {
  color: #e6a756;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  min-width: 15vw;
}

.stock-table-header {
  color: #e6a756;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  min-width: 8vw;
}

.stock-infos {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

#stock-symbol {
  background-color: #282d32e7;
  width: 10%;
  text-align: center;
  color: white;
}

#stock-price {
  text-align: end;
  width: 65%;
}

.btn-text {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  background-color: green;
  border-style: hidden;
}

.card-collapse {
  height: 80px;
  background-color: transparent;
}

.arrow-up {
  color: green;
  margin-right: 3px;
}

.input-fields {
  border-radius: 3px;
}

.btn-add-stock {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  background-color: green;
  border-style: hidden;
}

.sugestion {
  font-family: Nunito, sans-serif;
  font-size: 17px;
  margin-left: 3px;
}

#sell {
  color: rgb(4, 21, 247);
  font-weight: bold;
}

#going-down {
  color: red;
  font-weight: bold;
}

#going-up {
   color: red;
   font-weight: bold;
}

#trend {
  font-family: Nunito, sans-serif;
  font-size: 17px;
  padding: 3px;
  color: red;
  font-weight: bold;
}
