.wallet-wrapper {
  margin-top: 8rem;
  padding-left: 5rem;

}

.stock-search {
  background-color: rgba(255, 255, 255, 0.884);
}

#find-btn {
  margin-top: 1px;
  color: rgba(255, 255, 255, 0.87);
}

#content {
  margin-top: 0px;
  width: 95%;
}


.wallet-heading {
  width: 100%;
  font-family: $font-mont;
  color: white;
  font-weight: lighter;
  font-size: 40px;
  margin-right: 10rem;
  margin-top: 10rem;
}
.wallet-heading2 {
  font-family: $font-mont;
  font-weight: 300;
  font-size: 40px;
}

th {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 12px;

}

.table-title {
  background-color: #282d32e7;
  height: 50px;
}

.balance-card {
  background-color: transparent;
  border-style: none;
}

.balance-body {
  background-color: rgba(255, 255, 255, 0.753);
}

.destroy-btn {
  border-radius: 50%;
  height: 25px;
  width: 24px;
  padding: 1px;
  background: rgb(212, 12, 12);
}

#stock-info {
  padding: 0.4rem;
  font-size: 1.4rem;
  &:hover {
    background: #fff;
    color: #7eca7e !important;
    padding: 0.4rem;
  }
}

.symbol-hover {
  padding: 0.4rem;
    &:hover {
    background: #fff;
    color: #7eca7e !important;
    padding: 0.4rem;
  }
}

#stock-symbol {
  background-color: #282d32e7;
  width: 10%;
  text-align: center;
  color: white;
}

#stock-price {
  text-align: end;
  width: 65%;
}

.btn-text {
  font-family: $font-mont;
  font-size: 12px;
  color: #e4e4e4;
  font-weight: bold;
  border-radius: 3px;
  background-color: #17c45c;
  border-style: hidden;
      &:hover {
    background: #fff;
    color: #7eca7e !important;

  }
}

.card-collapse {
  height: 80px;
  background-color: transparent;
}

.arrow-up {
  color: #17c45c;
  margin-right: 3px;
}

.arrow-down {
  color: #e43529;
  margin-right: 3px;
}
.input-fields {
  border-radius: 3px;
  background-color: #b8bec5;
}

.btn-add-stock {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: #b8bec5;
  font-weight: bold;
  border-radius: 3px;
  background-color: #17c45c;
  border-style: hidden;
}

.sugestion {
  font-family: Nunito, sans-serif;
  font-size: 17px;
  margin-left: 3px;
}

#sell {
  color: rgb(4, 21, 247);
  font-weight: bold;
}

#going-down {
  color: red;
  font-weight: bold;
}

#going-up {
   color: red;
   font-weight: bold;
}

#trend {
  font-family: Nunito, sans-serif;
  font-size: 17px;
  padding: 3px;
  color: red;
  font-weight: bold;
}
.card-wallet {
  background-color: #1C1427;
  border: 0px;
}
.dropdown-card {
  background-color: #40394A;
}

#trend {
  color: #e43529;
  font-weight: 300;
  font-family: $font-mont;
  font-size: 0.8rem;
}
.text-wallet-show-content {
 color: #b8bec5 !important;
 font-family: $font-mont !important;
 font-weight: 500 !important;
 font-size: .95rem !important;
}

.border-transparent{
  border-color: transparent;
}

#addStock {
  width: 50%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#pie-chart {
  width: 50%;
}
